<h2 class="text-center">Listado de Tareas</h2>
<table class="table table-light ">
  <thead>
    <tr>
      <th>No</th>
      <th>Titulo</th>
      <th>Descripción</th>
      <th>Estado</th>
      <th >Accion Completar</th>
      <th >Accion Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of task; let i = index">
      <td>{{i +1 }}</td>
      <td [ngClass]="{'text-decoration-line-through': task.status == 1}">{{task.name}}</td>
      <td>{{task.description}}</td>
      <td [ngClass]="{'fw-bold': task.status == 1}">{{task.status == 0? 'Pendiente' : 'Completado' }} </td>
      <td >
        <button
          class="btn btn-primary btn-sm"
            (click)="onEdit(task)"
            >Completar
          <i class="fa fa-check-circle"></i>
        </button>
      </td>
      <td>
        <button
          class="btn btn-danger btn-sm"
          (click)="onDelete(task, i)"
          >Borrar
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
